.fc-header {
  z-index: 20;
  height: 100%;
  width: 100%;
  background: $color-white;

  &__contents {

    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }

  &__secondary-menu {
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;

    @include breakpoint(midDisplay) {
      top: 1.8rem;
    }
  }

  &__logo {
    position: relative;
    height: 62px;
    width: 80px;
    float: left;
    z-index: 20;

    &-link {
      &::after,
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
      }

      &::after {
        display: none;

        @include breakpoint(midDisplay) {
          // background: url('/assets/images/foxcoast-white-text.svg') no-repeat;
          width: 180px;
          height: 25px;
          background-size: contain;
          top: 30px;
          left: 34px;
          display: inline-block;
        }
      }

      &::before {
        // background: url('/assets/images/foxcoast-white-fox.svg') no-repeat;
        width: 410px;
        height: 61px;
        background-size: contain;
        content: 'HOT BODY HOT CHOCOLATE';
        color: $color-black;
      }
    }

    span {
      @include visually-hidden;
    }

    @include breakpoint(midDisplay) {
      width: 204px;
    }
  }

  .fc-menu {
    width: 100%;
    height: calc(100vh);
    position: fixed;
    top: 0;
    right: -100%;
    transform: translateX(100%);
    transition: transform .3s cubic-bezier(.28, .74, .27, 1);
    background: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      opacity: 0;
      transform: translateX(200px);
      transition: opacity .4s, transform .4s;

      a {
        color: $color-black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 3.2rem;
        display: block;
        text-align: center;
        padding: 1rem;
        font-family: $font-primary;
        font-weight: 800;
      }

      .menu-active & {
        transform: translateX(0);
        opacity: 1;

        &:nth-child(2) {
          transition-delay: .05s;
        }

        &:nth-child(3) {
          transition-delay: .1s;
        }

        &:nth-child(4) {
          transition-delay: .15s;
        }
      }
    }

    .menu-active & {
      transform: translateX(-100%);
    }
  }

  &__menu-toggle {
    background: transparent;
    border: 0;
    margin: 10px 5px;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 20;

    .visual-aid {
      opacity: 1;
    }

    &::after,
    &::before {
      content: '';
      margin: 5px 0;
    }

    .visual-aid,
    &::after,
    &::before {
      width: 30px;
      height: 3px;
      display: block;
      background: $color-black;
      transition: all .2s ease-in-out;
    }

    .accessible-text {
      @include visually-hidden;
    }

    .menu-active & {
      .visual-aid {
        opacity: 0;
      }

      &::after {
        transform: rotate(-45deg) translate3d(6px, -5.5px, 0);
      }

      &::before {
        transform: rotate(45deg) translate3d(6px, 5.5px, 0);
      }
    }
  }

  &-secondary-menu-items {
    background: $color-grey;
    display: block;
    width: 100%;
    height: 80px;
    margin: 0;
  }
}

.fc-header--secondary-menu {
  &__items {
    width: 100%;
    display: inline-flex;
    color: black;
    flex-direction: column;
    align-items: center;
    margin: 0;

    @include breakpoint(largeDisplay) {
      flex-direction: row;
      margin: 0;
    }
  }

  &__item {
    width: 100%;
    padding: 20px;
    background: $color-grey;

    &.active {
      background: $color-pink;
    }

    @include breakpoint(largeDisplay) {
      width: calc(100% / 3);
    }
  }
}

.offer-header {
  text-align: center;
  width: 100%;
  background: $color-pink;
  padding: 20px;
  margin-top: 10px;
  color: $color-black;
}
