html {
  height: 100%;
}

.col-full {
  padding: 0 !important;
  margin: 0 auto!important;
  max-width: 90% !important;
}



.hb-home {
  &__hero-section {
    background: url('/wp-content/themes/marcus-child/build/assets/homepage.jpg') no-repeat;
    width: 100%;
    color: $color-black;
    background-size: contain;


    &-content {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: 2;
      padding: 20px;
      color: $color-black;
      padding-top: 200px;
    }

    &-image {
      margin: 0 auto;
      display: block;
      text-align: center;

      button {
        margin-top: 20px;
      }
    }
  }
}

@include breakpoint(midDisplay) {

.col-full {
  padding: 0;
  margin: 0;
}
  .hb-home {
    &__hero-section {
      padding: 140px;
      @include breakpoint(largeDisplay) {
      padding: 200px
      }


      &-content {
        grid-column-start: 1;
        grid-row-end: 2;
        padding: 20px;
        color: $color-white;
        padding-top: 0;
      }

      &-image {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
