.product-home {
  &__container {
    text-align: center;
    padding-top: 30px;
  }

  &__inspiration {
    text-align: center;
    font-size: 24px;
    padding: 100px;
    color: $color-black;
    background-color: #ffcab1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23f08743' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -16px;
      left: 0;
      width: 100%;
      height: 16px;
      background-size: 0 100%,16px 16px,16px 16px;
    }

    p {
      width: 100%;
      font-family: $font-secondary;
      @include breakpoint(midDisplay) {
        width: 70%;
        margin: 0 auto;
      }

    }


  }

}

ul.products li.product .button {
  background-color: $color-purple;
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-secondary;

}

.button {
  background-color: $color-purple;
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-secondary;
}

.storefront-sorting {
  display: none;
}

.woocommerce-products-header {
  padding-top: 30px !important;
}

.site-content {
  margin-top: 30px !important;
}

.actions {
  input {
    color: $color-white;
  }
  button {
    color: $color-white;
  }
}

.button {
  color: $color-white !important;
}

.woocommerce-info {
  background: $color-purple !important;
}

.site-footer {
  background-color: $color-purple !important;
  color: $color-white !important;
}

.woocommerce-product-details__short-description {
  ul {
    padding: 0;
  }
}

.button.menu-toggle {
  border: none;
}
