$font-primary: 'Copse', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
$font-default: Arial;
$color-white: #fff;
$color-black: #000;
$color-grey: #f3f3f3;
$body-color: #1d4788;
$fail-red: #f03;
$success-green: #4bb543;
$color-section-contact: #0f2e5f;
$accent-color: pink;
$footer-color: #122138;
$form-input-color: #577fb3;

// Shadows
$color-black-alpha: rgba(0, 0, 0, .22);
$text-shadow: 0 .1rem .1rem $color-black-alpha;

:root {
  --sparkle-animation-time: 2s;
  --sparkle-top: 10px;
  --sparkle-left: 10px;
}
